<div>

    <div ng-show="loading">

        <img src="images/gears.svg" style="margin-left:40%;" width="300px">
        <div class="row" style="margin-top:5%;">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">

                    <li class="list-group-item">
                        <img src="images/download.jpg" width="100px">
                        Processing Research Papers <img ng-show="research" class="pull-right check" src="images/check.jpg" width="25px">
                    </li>

                    <li class="list-group-item">
                        <img src="images/thnking.jpg" width="100px">
                        Processing User Input
                        <img ng-show="user" class="pull-right check" src="images/check.jpg" width="25px">
                    </li>
                    <li class="list-group-item">
                        <img src="images/AI.jpg" width="100px">
                        Calculating AI
                        <img ng-show="AI" class="pull-right check" src="images/check.jpg" width="25px"></li>
                </ul>

            </div>
        </div>
    </div>

</div>

