.sidebarhb{
    position:fixed!important;
    left:calc(100% - 250px)!important;
}
.icon-hb{
    float:right!important;
    margin-left:15px!important;

}
.pos{
    position: relative;
}
.paragraph{
    position: relative;
    left:100px;
}
.border{
    border:1px solid black
}
.main-panel{
    /*float:left!important;*/
    overflow-x: auto;
}
.pagination > li > a,
.pagination > li > span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
}
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
    color: #999999;
}
.pagination > .active > a,
.pagination > .active > span {
    color: #999999;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}
.pagination.pagination-info > .active > a, .pagination.pagination-info > .active > a:focus, .pagination.pagination-info > .active > a:hover,
.pagination.pagination-info > .active > span,
.pagination.pagination-info > .active > span:focus,
.pagination.pagination-info > .active > span:hover {
    background-color: #03a9f4;
    border-color: #03a9f4;
    box-shadow: 0 4px 5px 0 rgba(3, 169, 244, 0.14), 0 1px 10px 0 rgba(3, 169, 244, 0.12), 0 2px 4px -1px rgba(3, 169, 244, 0.2);
}
.pagination.pagination-success > .active > a, .pagination.pagination-success > .active > a:focus, .pagination.pagination-success > .active > a:hover,
.pagination.pagination-success > .active > span,
.pagination.pagination-success > .active > span:focus,
.pagination.pagination-success > .active > span:hover {
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 4px 5px 0 rgba(76, 175, 80, 0.14), 0 1px 10px 0 rgba(76, 175, 80, 0.12), 0 2px 4px -1px rgba(76, 175, 80, 0.2);
}
.pagination.pagination-warning > .active > a, .pagination.pagination-warning > .active > a:focus, .pagination.pagination-warning > .active > a:hover,
.pagination.pagination-warning > .active > span,
.pagination.pagination-warning > .active > span:focus,
.pagination.pagination-warning > .active > span:hover {
    background-color: #fbc02d;
    border-color: #fbc02d;
    box-shadow: 0 4px 5px 0 rgba(251, 192, 45, 0.14), 0 1px 10px 0 rgba(251, 192, 45, 0.12), 0 2px 4px -1px rgba(251, 192, 45, 0.2);
}
.pagination.pagination-danger > .active > a, .pagination.pagination-danger > .active > a:focus, .pagination.pagination-danger > .active > a:hover,
.pagination.pagination-danger > .active > span,
.pagination.pagination-danger > .active > span:focus,
.pagination.pagination-danger > .active > span:hover {
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 4px 5px 0 rgba(244, 67, 54, 0.14), 0 1px 10px 0 rgba(244, 67, 54, 0.12), 0 2px 4px -1px rgba(244, 67, 54, 0.2);
}
.pagination-row{
    margin-top:40px;
}
.pagination-pos{
    margin-top:10px!important;
    margin-bottom: -30px!important;
    margin-left:calc((100% - 200px)/2)
}
.card-flex{
    display: flex;
    justify-content: flex-end;
}
.background-login-image{
    /*opacity:0.77;*/
}
.bg{
    position: fixed;
    /* top: -50%; */
    top: 0;
    /* left: -50%; */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../img/background.jpg');

}
.black-card{
    background: linear-gradient(60deg, #000000, #383838);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
.black{
    color:black!important;
}
.black-line{
    background-image: linear-gradient(#000000, #000000), linear-gradient(#D2D2D2, #D2D2D2)!important;
}
.active-menu{
    background-color: rgba(192,192,192,0.4)!important;

}
.cool-button{
    background: linear-gradient(60deg, black, black);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(192, 192, 192, 0.4);
    /* width: 50px; */
    /* height: 51px; */
    text-align: center;
    line-height: 15px;
    /*border-radius: 50%;*/
    padding: 9px;
    color: white;
    display: inline;
    position: relative;
    top: -10px;
    cursor: pointer;
    z-index:100;

}
.btn-black{
    background-color: black!important;
}
.form-group.is-focused .form-control {
    background-image: linear-gradient(black, black), linear-gradient(black, black)!important;
}
.minus-pos{
    position: relative;
    top: -28px;

}
.plus-pos{
    position: relative;
    top: -28px;

}
.plus-left{
    margin-left:10px;
}
.pagination-projects{
    margin: 20px 20px -15px 0!important;
}
.pagination-user{
    cursor: pointer;
}
.disabled{
    color:whitesmoke;
    cursor: not-allowed;
}
.drop-pos{
    display:inline-block;
}
.pag-class{
    cursor: pointer;
}
.search-content{
    margin-top:70px;
}

.nav li a {
    cursor: pointer;
}
.search-pane table tr{
    cursor: pointer;
}
.facebook-add-icon{
    font-size: 45px;
    cursor: pointer;
    display: inline;
}
.jk-rating-stars a{
    color:yellow!important;
}
.gender-btn{
    font-size:10px;
    padding: 10px 25px;
}
.genderAnchor:hover{
    background-color: black!important;
}
.pageAnchor:hover{
    background-color: black!important;
}
.input-drop{
    margin-top: 33px;
    border-bottom: 1px solid lightgray;
}
.input-drop-gender{
    margin-top: 32px;
    border-bottom: 1px solid lightgray;
}
.input-btn{
    color: black!important;
    font-size: 15px;
    cursor: pointer;
}
.project-img{
    width: 80% !important;
    height: 220px !important;
}
.project-map{
    width:80%;
    height : 200px;
    border:1px solid black;
}
.search-panel .table-header{
    color:black;
}
.products-image{
    height: 30%!important;
}
.color-heading{
    color:black!important;
}
.new-project-btn{
    z-index:99999;
}
.not-active{
    color:green!important;
    cursor: not-allowed!important;
}
.pagination.pagination-info > .active > a, .pagination.pagination-info > .active > a:focus, .pagination.pagination-info > .active > a:hover, .pagination.pagination-info > .active > span, .pagination.pagination-info > .active > span:focus, .pagination.pagination-info > .active > span:hover{
    background-color: black!important;
    border-color: black!important;
    box-shadow: none!important;
}
.pagination.pagination-info li{
    cursor: pointer;
}
.size-card{
    height: 470px;
}
.size-card-sm{
    height: 320px;
}
.products-location{
    margin-top:150px;
}
.top-margin{
    margin-top:150px;
}
.card-back{
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 524px 215px
    /*opacity: 0.5;*/
}
.card-back-sm{
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 524px 200px
}
.product-card{
    width: 80%;
    border: none;
    cursor: pointer;
}
.desc-product{
    border: none;
    cursor: pointer;
    resize: none;
}
.price{
    margin-left: 70%;
}
.products-btn{
    background-color: #32A1AA;
    width:130px;
    height: 40px;
    margin-left: -36px;
}
.add-category{
    background-color: #32A1AA;
    width:130px;
    height: 40px;
}
.add-product-btn{
    background-color: #32A1AA;
    width:130px;
    height: 40px;
}
.anchor-image{
    height: 283px;
    width: 355px;
    display: inline-block;
}
.anchor-image-sm{
    height: 180px;
    width: 220px;
    display: inline-block;
}
.title-left{
    text-align: left!important;
    margin-top:30px!important;
}
.togglebutton{
    margin-top:0px;
}
/* .slideThree */
/* .slideThree */
.slideThree {
    width: 80px;
    height: 26px;
    background: black;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
    content: 'OFF';
    color: white;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
    content: 'ON';
    color: white;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}
.slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
    visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}
.iframe-pos{
    position: relative;
    left:50px;
}
.card-title-main{
    width:100px;
}
.new-btn{
    z-index: 1000;
}
.tribu-logo{
    width:230px;
    height: 90px;
}
.tribu-logo-expand {
    width: 187px;
    height: 60px;
    top: -16px;
    position: relative;
}
.backImage{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#logOut:hover {
    background-color: lightgrey!important;
}
.nav-expand{
    min-width: 100px!important;
}
tr td {
    word-wrap:break-word;
}
.amount-input{
    top:-15px;
    left:-20px;
}
.black {
    color:black!important;
}
.points-body{
    margin-top:15px;
    color: black!important;
}
.points-checkbox {
    margin-right:20px;
}
.checkbox-span{
    margin-left: 5px;
}
.order-card {
    height: 380px!important;
}
.order-content {
    margin-top:20px;
}
.hide-bar{
    display: none;
}
td {
    word-wrap: break-word;
}
.search-img{
    width: 50px !important;
    height: 50px !important;
}
.search-by{
    position: relative;
    top: -5px;
    z-index: 10000;
}
.card-ganim-login{
    width:360px;
    height:380px;
}
.login-btn {
    width: 305px;
    height: 45px;
    line-height: 15px;
    font-size: 18px;
    background-color: #32A1AA!important;
    font-family: sans-serif;
    font-weight: bold;
}
.Lets{
    color:black;
    font-size: 16px;
    font-family: sans-serif;
}
.main-btn {
    width:135px;
    height: 45px;
    background-color: #32A1AA;
    font-family: sans-serif;
    border: none;
    color: white;
    font-size: 14px;
}
.main-add-new {
    margin-right:20px;
    text-align: center;
    padding-left: -3px!important;

}
.tribu-btn{
    width:133px;
    text-align: center;
    height: 42px;
    background-color: #32A1AA;
    padding-left:-10px!important;

}
.new-project-btn{
    margin-right: 20px;
    padding: auto auto;
    padding-left: 22px!important;
    text-align: center!important;
}
.project-btn {
    margin-top:20px;
}

.btn-green{
    background-color: #7ea730
}
.btn-blue{
    background-color: #457fb1;
}
.logo-pic{
    /*margin-left:55px;*/
    width: 70%!important;
    margin-bottom: 5px;
}
.time{
    border: none!important;
    border-bottom: 1px solid lightgrey!important;
}
.back-btn{
    top:10px;
    cursor: pointer;
}

/* RTL **********/
.label-rtl{
    left: 0 !important;
    right:5px;
}
.input-rtl{
    right:-20px;
}
.sms-code{
    width:50%!important;
}
.background {
    /*background-image: url("../img/background.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background-color: blue;
}
.main-container {
    position: relative;
}
.main-back {
    width: 100%;
    height: 85%;
}

.entry-form {
    position: absolute;
    top:15%;
    right:10%;
    font-size:16px;
}
.link {
    font-size:25px;
}
.main-container a {
    color: #4F628E !important;
    text-decoration: underline;
    cursor: pointer;
}
.newEntry a {
    color:black;
}
.second-link{
    margin-top: 50px;
    right: -5px;
    position: relative;
}
.zilberman-input {
    border:none;
    background-color: transparent;
    border-bottom: 2px solid white;
    text-align: right;
    color:black;
    width:100%;
}
.zilberman-input:hover{
    border-bottom: 2px solid #2676d0;
}
.zilberman-dropdown:hover{
    border-bottom: 2px solid #2676d0;
}
.nav-tabs {
    background-color: #0f4d9e;
    
}
.newEntry i {
    color:white;
}
.newEntry .content {
    margin-top:70px;
    padding-right:100px;
}
.newEntry .nav-pills.nav-pills-warning > li.active > a, .nav-pills.nav-pills-warning > li.active > a:focus, .nav-pills.nav-pills-warning > li.active > a:hover{
    background-color: #2676d0;
    color:white!important;
}
.nav-tabs>li{
    float: right;

}
.zilberman-top-nav {
    font-size:15px!important;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index:1000;
}
.zilberman-top-nav a {
    font-size:15px!important;
}

.table-header{
    background-color: lightsteelblue;
}
.zilberman-select-option {
    color: #686868 !important;
}
.zilberman-option {
    color: black !important;
}

input::-webkit-input-placeholder {
    color: #686868 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: 	#686868 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: 	#686868 !important;
}

input:-ms-input-placeholder {
    color: 	#686868 !important;
}
.summery table{
    margin-bottom: 125px;
}
.filesList{
    list-style: none;
}
.item-a{
    color:black;
}
.footer-register {
    text-align: center;
}
.footer-text{
    color:white;
    text-align: center;
}
.loader{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px; 
    margin-left: -50px;
    z-index:1000;
}

.search-btn{
    margin-right: 5px;
    background-color: #2676d0;
    color: white;
    border: none;
    width: 55px;
    height: 30px;

}
.sms-btn{
    margin-right: 5px;
    background-color: #2676d0;
    color: white;
    border: none;
    width: 55px;
    height: 30px;
    position: relative;
    top:10px;
}
.car-btn{
    margin-right: 5px;
    background-color: #2676d0;
    color: white;
    border: none;
    width: 85px;
    height: 30px;
}
.link-btn{
    margin-right: 5px;
    background-color: #2676d0;
    color: white;
    border: none;
    width: 85px;    
    height: 30px;
}
.footer-zilberman{
    display:block;
    background-color: #0f4d9e;
    position:fixed;
    top:85%;
    width:100%;
    height: 100px;
}
.input-table{
    background-color: transparent;
    border: none;
}
.input-select{
    background-color: transparent;
    border: none;
}
/* css for mobile */

@media (min-width: 320px) and (max-width: 480px) {
  
    .mobile-container{
        padding-top: 13vh!important;
    }
    .card-ganim-login{
        width: 325px;
        height: 380px;
    }
    .login-btn{
        width: 275px;
        height: 45px;
        line-height: 15px;
        /* font-size: 18px; */
        background-color: #32A1AA!important;
        font-family: sans-serif;
        font-weight: bold;
    }
    .zilberman-top-nav{
        left: 15px;
    }
    .entry-form {
        /* right: 21%; */
        width:80%;
    }
    .footer-zilberman{
        display:none!important;
    }
    .date-pick-zilberm{
        width:100% !important;
    }
    .mobile-row{
        margin-top:10px;
    }
    .align-brakets{
        margin-right: 8%;
    }
    .newEntry .content {
        margin-top:70px;
        padding-right:0px;
    }
    .search-btn{
        margin-right: 10px;
    }
    .link-btn{
        margin-right: 10px;
    }
    
  }
