



<div class="row">
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <!--<span class="nav-tabs-title">Tasks:</span>-->
                    <!--<ul class="nav nav-tabs" data-tabs="tabs">-->
                        <!--<li class="active">-->
                            <!--<a href="#profile" data-toggle="tab">-->
                                <!--<i class="material-icons">bug_report</i>-->
                                <!--First-->
                                <!--<div class="ripple-container"></div></a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href="#messages" data-toggle="tab">-->
                                <!--<i class="material-icons">code</i>-->
                                <!--Second-->
                                <!--<div class="ripple-container"></div></a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href="#settings" data-toggle="tab">-->
                                <!--<i class="material-icons">cloud</i>-->
                                <!--Third-->
                                <!--<div class="ripple-container"></div></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<ul class="pagination pagination-info">-->
                                <!--<li><a href="#"><</a></li>-->
                                <!--<li><a href="#">1</a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li class="active"><a href="#">3</a></li>-->
                                <!--<li><a href="#">4</a></li>-->
                                <!--<li><a href="#">5</a></li>-->
                                <!--<li><a href="#">></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <ul class="pagination pagination-info pagination-pos">
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">></a></li>
                    </ul>


                </div>
            </div>
        </div>

       <div>

       </div>
    </div>

</div>