
<div class="main-panel drinks-pane" ng-init="init()">
    <div ng-include="'templates/header.html'"></div>
    <div class="container">

        <div style="margin-top:150px;" class="row">


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon btn-black" data-background-color="black">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Coffee & Drinks</h4>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>

                                        <th class="th-description">Description</th>
                                        <th class="th-description">Num of Points</th>
                                        <th class="th-description">Include</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../material/assets/img/cofeeII.jpg" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            Coffee drink roasted on the spot
                                        </td>
                                        <td>
                                            100
                                        </td>

                                        <td class="td-actions">
                                            <!--<div class="togglebutton">-->
                                                <!--<label>-->
                                                    <input type="checkbox" checked> Include
                                                <!--</label>-->
                                            <!--</div>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../material/assets/img/redWhine.jpg" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            Red whine
                                        </td>
                                        <td>
                                            100
                                        </td>

                                        <td class="td-actions">
                                            <!--<div class="togglebutton">-->
                                                <!--<label>-->
                                                    <input type="checkbox" checked> Include
                                                <!--</label>-->
                                            <!--</div>-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container">
                                                <img src="../material/assets/img/beer.jpg" alt="...">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            Beer
                                        </td>
                                        <td>
                                            100
                                        </td>

                                        <td class="">
                                            <!--<div class="checkbox">-->
                                                <!--<label>-->
                                                    <input type="checkbox" value="">Include
                                                <!--</label>-->
                                            <!--</div>-->
                                            <!--<div class="togglebutton">-->
                                                <!--<label>-->
                                                    <!--<input type="checkbox" checked> Include-->
                                                <!--</label>-->
                                            <!--</div>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <button class="btn btn-black pull-right">Upload</button>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-header card-header-icon btn-black" data-background-color="black">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Add Products</h4>
                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                            <tr>
                                <th class="text-center"></th>

                                <th class="th-description">Description</th>
                                <th class="th-description">Num of Points</th>
                                <th class="th-description">Include</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="img-container">
                                        <img src="../material/assets/img/image_placeholder.jpg" alt="...">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Description</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Number of Points</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </td>

                                <td class="td-actions">
                                    <button class="btn btn-black">Upload New Product</button>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>



