



<div class="main-panel tools-panel">

    <div ng-include="'templates/header.html'"></div>

    <div class="container">

        <div style="margin-top:100px;" class="row">

            <div class="col-md-12">
                <div class="card">
                    <a ngf-select="upload($file, $invalidFiles)"
                       accept="image/*" ngf-max-height="2000" ngf-max-size="1MB">
                        Upload Excel />
                    </a>

                </div>
            </div>
        </div>


    </div>

</div>

