<div class="sidebar" data-active-color="black" ng-if="showLeftPane" data-background-color="black" data-image="../material/assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <div >
            <img class="tribu-logo" src="img/big-logo.png">
        </div>
    </div>
    <div class="logo logo-mini">
        <a href="http://www.creative-tim.com" class="simple-text">

        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <div ngf-select="adminImg($file, $invalidFiles)" accept="image/*" ngf-max-height="2000" ngf-max-size="1MB">
                    <img ng-src="{{user.img || 'img/placeholder.jpg'}}" />
                </div>
            </div>
            <!--href="#collapseExample"-->
            <div class="info">
                <a data-toggle="collapse" class="collapsed">
                    {{user.name}}
                    <!--<b class="caret"></b>-->
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a >My Profile</a>
                        </li>
                        <li>
                            <a >Edit Profile</a>
                        </li>
                        <li>
                            <a >Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <li >
                <a ng-click="goto('orders')" ng-class="{'active-menu':isActive('orders')}">
                    <i class="material-icons">dashboard</i>
                    <p>Current Orders</p>
                </a>
            </li>
            <li >
                <a ng-click="goto('main')" ng-class="{'active-menu':isActive('main')}">
                    <i class="material-icons">person</i>
                    <p>Add Members</p>
                </a>
            </li>
            <li >
                <a ng-click="goto('search')" ng-class="{'active-menu':isActive('search')}">
                    <i  class="material-icons">search</i>
                    <p>Search Members</p>
                </a>
            </li>
            <li >
                <a ng-click="goto('station')" ng-class="{'active-menu':isActive('station')}">
                    <i class="material-icons">tablet</i>
                    <p>Station</p>
                </a>
            </li>

            <li >
                <a ng-click="goto('products')" ng-class="{'active-menu':isActive('products')}">
                    <i class="material-icons">web</i>
                    <p>Manage Products</p>
                </a>
            </li>
            <li >
                <a ng-click="goto('meetups')">
                    <i class="material-icons">work</i>
                    <p>Meetups</p>
                </a>
            </li>
            <!--<li >-->
                <!--<a>-->
                    <!--<i class="material-icons">dashboard</i>-->
                    <!--<p>Campaigns</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li >-->
                <!--<a ng-click="goto('reports')">-->
                    <!--<i class="material-icons">dashboard</i>-->
                    <!--<p>Reports</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li >-->

                <!--<a ng-click="goto('tools')" ng-class="{'active-menu':isActive('tools')}">-->
                    <!--<i class="material-icons">dashboard</i>-->
                    <!--<p>Tools</p>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>