<nav class="navbar navbar-transparent navbar-absolute" ng-controller="lockCtrl">
    <div class="container-fluid">
        <div class="navbar-minimize">

            <!--<a><i style="color:black!important;" class="fa fa-2x fa-address-book" aria-hidden="true"></i></a>-->

        </div>

        <div class="navbar-header">

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="lock()">

                    <i class="material-icons" ng-show="showLeftPane" ng-click="expand()" style="font-size: 35px">all_out</i>
                    <i class="material-icons" ng-show="!showLeftPane" ng-click="contract()" style="font-size: 35px">settings_backup_restore</i>
                </li>
            </ul>

        </div>
    </div>
</nav>