
<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href=" ../dashboard.html ">זילברמן סוכנות לביטוח בע"מ</a>
        </div>
        <div class="collapse navbar-collapse">

        </div>
    </div>
</nav>
<!--data-image="../../material/assets/img/login.jpeg"-->
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page background-login-image bg" filter-color="black">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div >
                            <div ng-class="{'card-ganim-login':showLogin,'card-ganim-register': !showLogin}" class="card card-login  card-hidden">
                                <div style="text-align: center;">
                                    <img class="logo-pic" src="/img/logo.png">
                                </div>
                                <p class="category text-center">

                                </p>
                                <div ng-show="showLogin" class="card-content">

                                    <div dir="rtl" ng-show="!sms" class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">ת"ז</label>
                                            <input type="text" ng-model="user.email" class="form-control black-line">
                                        </div>
                                    </div>
                                    <div dir="rtl" ng-show="!sms" class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">ססמא</label>
                                            <input type="password" ng-model="user.password" class="form-control black-line">
                                        </div>
                                    </div>
                                    <div ng-show="sms" dir="rtl" class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">הכנס קוד סמס</label>
                                            <input type="password" ng-model="user.password" class="form-control black-line sms-code">
                                            <button class="btn btn-sml">הכנס</button>
                                        </div>
                                    </div>
                                    <div ng-show="!sms" class="footer text-center">
                                        <button ng-click="login()" class="btn btn-lg login-btn">כניסה</button>
                                    </div>

                                    <!--<div class="register-link" ><a ng-click="changeToRegister()">אנה רישמו אותי</a></div>-->
                                </div>
                                <div ng-show="!showLogin" class="card-content">

                                    <div dir="rtl" class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">שם פרטי ומשפחה</label>
                                            <input type="text" ng-model="user.name" class="form-control black-line">
                                        </div>
                                    </div>
                                    <div dir="rtl" class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">אמייל</label>
                                            <input type="text" ng-model="user.email" class="form-control black-line">
                                        </div>
                                    </div>
                                    <div dir="rtl"  class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">ססמא</label>
                                            <input type="password" ng-model="user.password" class="form-control black-line">
                                        </div>
                                    </div>
                                    <div dir="rtl"  class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">חזור על הססמא</label>
                                            <input type="password" ng-model="user.password2" class="form-control black-line">
                                        </div>
                                    </div>
                                    <div dir="rtl" class="input-group input-rtl">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label label-rtl">טלפון</label>
                                            <input type="text" ng-model="user.password" class="form-control black-line">
                                        </div>
                                    </div>

                                    <div ng-show="!sms" class="footer text-center">
                                        <button ng-click="register()" class="btn btn-lg login-btn">רישום</button>
                                    </div>

                                    <div class="register-link" ><a ng-click="changeToLogin()">כניסה</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">

                <p class="footer-text">


                    <a style="color:white;" href="">כל הזכויות שמורות לזילברמן סוכניות ביטוח בע"מ</a>
                    &copy;
                </p>
            </div>
        </footer>
    </div>
</div>

