<div class="main-panel">
   <div ng-include="'templates/header.html'"></div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="pagination-pos">

                    <ul class="pagination pagination-info ">
                        <li><a href="#"><</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">></a></li>
                    </ul>
                    <div class="cool-button plus-pos" >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                </div>





            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon btn-black" data-background-color="black">
                            <i class="material-icons"></i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Edit User -
                                <small class="category"></small>
                            </h4>
                            <div class="cool-button pull-right" >
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Company </label>
                                            <input type="text" class="form-control" ng-model="users[currentUser].company">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!--selectpicker-->
                                        <select class="" data-style="select-with-transition" multiple title="Choose City" data-size="7">
                                            <option disabled> Profession</option>
                                            <option value="2">Architect </option>
                                            <option value="3">Carpenter</option>


                                        </select>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Fist Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Address</label>
                                            <input vs-google-autocomplete type="text" ng-model="address" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row">-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">City</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Country</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Postal Code</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>About Me</label>
                                            <div class="form-group label-floating">

                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
                                            <option disabled selected>Choose city</option>
                                            <option value="2">Foobar</option>
                                            <option value="3">Is great</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-style="select-with-transition" multiple title="Choose City" data-size="7">
                                            <option disabled> Choose city</option>
                                            <option value="2">Paris </option>

                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-black pull-right">Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="../../assets/img/faces/marc.jpg" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h6 class="category text-gray">CEO / Co-Founder</h6>
                            <h4 class="card-title">Alec Thompson</h4>
                            <p class="description">
                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                            </p>
                            <a href="#pablo" class="btn btn-round">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon btn-black" data-background-color="black">
                            <i class="material-icons"></i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Edit Project
                                <small class="category"></small>
                            </h4>
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Project Name </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">


                                        <select class="selectpicker" data-style="select-with-transition" multiple title="Choose City" data-size="7">
                                            <option disabled> Choose city</option>
                                            <option value="2">Paris </option>
                                            <option value="3">Bucharest</option>


                                        </select>

                                    </div>
                                    <div class="col-md-4">
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Email address</label>-->
                                            <!--<input type="email" class="form-control">-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <!--<div class="col-md-6">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Fist Name</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-6">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Last Name</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Adress</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">City</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Country</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Postal Code</label>-->
                                            <!--<input type="text" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>


                                <button type="submit" class="btn btn-black pull-right">Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>