<div class="main-panel" ng-init="init()">
   <div ng-include="'templates/header.html'"></div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="card">
                        <button class="btn btn-black pull-right new-btn" ng-click="go('main')">Add New</button>
                        <div class="card-content">

                            <h4 class="card-title card-title-main">{{mode}} -
                                <small class="category"></small>
                            </h4>

                            <form>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Fist Name</label>
                                            <input type="text" ng-model="user.firstName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" ng-model="user.lastName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Phone</label>
                                            <input type="text" ng-model="user.phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="dropdown input-drop-gender" ng-init="setProfession()">
                                            <a class="dropdown-toggle input-btn" data-toggle="dropdown">{{getGender()}}
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li>
                                                    <a ng-click="user.gender = 'Male'" class="genderAnchor">Male</a>
                                                </li>
                                                <li>
                                                    <a ng-click="user.gender = 'Female'" class="genderAnchor">Female</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Company </label>
                                            <input type="text" class="form-control" ng-model="user.company">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" ng-model="user.email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!--<div class="form-group">-->
                                        <!--<label class="label-control">Date Picker</label>-->
                                        <!--<input type="text" class="form-control datepicker" value="10/10/2016" />-->
                                        <!--</div>-->
                                        <div class="form-group label-floating">
                                            <label class="control-label">Birthday</label>
                                            <input type="date" ng-model="user.birthday" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="dropdown input-drop" ng-init="setProfession()">
                                            <a class="dropdown-toggle input-btn" data-toggle="dropdown">{{setProfession()}}
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li>
                                                    <a ng-click="user.profession = 'Architect'" class="genderAnchor">Architect</a>
                                                </li>
                                                <li>
                                                    <a ng-click="user.profession = 'Gardener'" class="genderAnchor">Gardener</a>
                                                </li>
                                                <li>
                                                    <a ng-click="user.profession = 'landscape architect'" class="genderAnchor">landscape architect</a>
                                                </li>
                                                <li>
                                                    <a ng-click="user.profession = 'Interior designer'" class="genderAnchor">Interior designer</a>
                                                </li>
                                                <li>
                                                    <a ng-click="user.profession = 'Construction inspector'" class="genderAnchor">Construction inspector</a>
                                                </li>
                                                <li>
                                                    <a ng-click="user.profession = 'Other'" class="genderAnchor">Other</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Company website</label>
                                            <input type="text" ng-model="user.companySite" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Company Facebook URL</label>
                                            <input type="text" ng-model="user.companyFacebook" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Private Facebook URL</label>
                                            <input type="text" ng-model="user.privateFacebook" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Address</label>
                                            <input vs-google-autocomplete type="text" ng-model="user.address" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>About Me</label>
                                            <div class="form-group label-floating">

                                                <textarea class="form-control" ng-model="user.about" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-3">

                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                    </div>
                                </div>
                                <button type="submit" ng-click="submitUser()" class="btn btn-black pull-right">{{mode}}</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a ngf-select="uploadFiles($file, $invalidFiles)"
                               accept="image/*" ngf-max-height="2000" ngf-max-size="1MB">
                                <img class="img" src="{{user.img}}" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h6 class="category text-gray">{{user.profession}}</h6>
                            <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
                            <p class="description">
                                {{user.about}}
                            </p>
                            <a class="btn btn-round">{{user.points}}TRIBU Points</a>
                        </div>
                        <div>
                            <!--<span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></span>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--ng-show="user.projects.length >0"-->
            <div class="row" ng-show="user._id">
                <div class="pagination-pos" ng-show="userMng.getProjects().length > 1">

                    <ul class="pagination pagination-info ">
                        <li><a ><</a></li>
                        <li ng-class="{'not-active':!isExist(1),'active':isActive(1)}"><a ng-click="load(1)" >1</a></li>
                        <li ng-click="load(2)" ng-class="{'not-active':!isExist(1),'active':isActive(2)}"><a >2</a></li>
                        <li ng-click="load(3)" ng-class="{'not-active':!isExist(3),'active':isActive(3)}"><a >3</a></li>
                        <li ng-click="load(4)" ng-class="{'not-active':!isExist(4),'active':isActive(4)}"><a >4</a></li>
                        <li ng-click="load(5)" ng-class="{'not-active':!isExist(5),'active':isActive(5)}"><a >5</a></li>
                        <li><a >></a></li>
                    </ul>

                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon btn-black " data-background-color="black">
                            <i class="material-icons"></i>

                        </div>
                        <button ng-click="newProject()" class="btn new-project-btn btn-black pull-right">+ New Project</button>
                        <div class="card-content">
                            <h4 class="card-title">Edit Project
                                <small class="category"></small>
                            </h4>
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Project Name </label>
                                            <input type="text" class="form-control" ng-model="userMng.getCurrentProject().name">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Address</label>
                                            <input type="text" vs-google-autocomplete ng-blur="updateMaps()" vs-latitude="userMng.getCurrentProject().lat" vs-longitude="userMng.getCurrentProject().lng" ng-model="userMng.getCurrentProject().address" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ending Date</label>
                                            <input type="date" placeholder="dd-MM-yyyy" class="form-control datetimepicker" ng-model="userMng.getCurrentProject().endingDate" />

                                        </div>
                                        <div class="dropdown input-drop" >
                                            <a class="dropdown-toggle input-btn" data-toggle="dropdown">{{getType()}}
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-left">
                                                <li>
                                                    <a ng-click="userMng.getCurrentProject().type = 'Architect'" class="genderAnchor">Offices</a>
                                                </li>
                                                <li>
                                                    <a ng-click="userMng.getCurrentProject().type = 'Gardens'" class="genderAnchor">Gardens</a>
                                                </li>
                                                <li>
                                                    <a ng-click="userMng.getCurrentProject().type = 'Institute'" class="genderAnchor">Institute</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">
                                            <a ngf-select="uploadProjectImg($file, $invalidFiles)"
                                               accept="image/*" ngf-max-height="2000" ngf-max-size="5MB" >
                                                <img class="project-img" ng-if ="userMng.getCurrentProject().img" src="{{userMng.getCurrentProject().img}}" >
                                                <img class="project-img" ng-if ="!userMng.getCurrentProject().img" src="img/placeholder.jpg" >
                                            </a>
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <!--<div class="form-group label-floating">-->
                                            <!--<label class="control-label">Address</label>-->
                                            <!--<input type="text" vs-google-autocomplete ng-model="userMng.currentProject.address" class="form-control">-->
                                        <!--</div>-->
                                    </div>
                                    <div class="col-md-4">
                                        <div ng-init="setMaps()" class="project-map" id="regularMap"></div>
                                    </div>
                                </div>

                                <button type="submit" ng-click="processProject()" class="btn btn-black pull-right">{{projectText}}</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>