<div class="row zilberman-top-nav" ng-controller="topNavCtrl">
    <div class="col-md-6 col-md-offset-3">
        <div class="card-header card-header-tabs" data-background-color="rose">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">

                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li ng-class="{'active':ifstate('newentry')}" >
                            <div ng-click="state('newentry')"  data-toggle="tab">
                                פנייה חדשה
                                <div class="ripple-container"></div>
                            </div>
                        </li>
                        <li ng-class="{'active':ifstate('summery')}">
                            <div ng-click="state('summery')" data-toggle="tab">
                                הזמנות קיימות
                                <div class="ripple-container"></div>
                            </div>
                        </li>
                        <li ng-class="{'active':ifstate('users')}">
                            <div ng-click="state('summery')" data-toggle="tab">
                                ניהול משתמשים
                                <div class="ripple-container"></div>
                            </div>
                        </li>
                        <li ng-class="{'active':ifstate('login')}" class="pull-left">
                            <div ng-click="state('login')" data-toggle="tab">
                                יציאה
                                <div class="ripple-container"></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>