
<div class="main-panel search-pane" ng-init="init()">
    <div ng-include="'templates/header.html'"></div>

    <div class="container .top-margin">

        <div class="row search-content">
        

        </div>
        <div class="row ">

            <div class="card">
                <div class="card-header card-header-icon btn-black" data-background-color="black">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title"></h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary color-heading">

                                <th class="table-header">Created </th>
                                <th class="table-header"> User Name </th>
                                <!--<th class="table-header"> Product </th>-->
                                <!--<th class="table-header"> points </th>-->


                            </thead>

                            <tbody>
                            <tr ng-click="openSummery($index)" ng-repeat="order in orders track by $index">
                                    <td>{{order.createdAt | date }}</td>
                                    <td>{{order.user.firstName + ' ' + order.user.lastName}}</td>
                                    <!--<td>{{order.title}}</td>-->
                                    <!--<td>{{order.points}}</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-offset-10">-->
                <!--<button ng-show="page > 0" ng-click="back()" class="btn btn-black"><<</button>-->
                <!--<button ng-show="currentShown === limit" ng-click="next()" class="btn btn-black">>></button>-->
            <!--</div>-->
        <!--</div>-->


    </div>

</div>
<script type="text/ng-template" id="orderInfoModal.html">

    <div class="modal-header">
        <h3 class="modal-title" style="text-decoration: underline;" id="modal-title">Order info</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label style="text-decoration: underline;">User info</label>

                <div>First name: {{order.user.firstName}}</div>
                <div>Last name: {{order.user.lastName}}</div>
                <div>Email: {{order.user.email}}</div>
                <div>Phone: {{order.user.phone}}</div>
                <div>Points: {{order.user.points}}</div>
            </div>

            <div class="vertical_line"></div>

            <div class="col-md-6">
                <label style="text-decoration: underline;">Order info:</label>
                <ul>
                    <li ng-repeat="product in order.orders track by $index">
                        <div>Title: {{product.title}}</div>
                        <div>Points: {{product.points}}</div>
                    </li>
                </ul>
                <!--<div>Category: {{order.category}}</div>-->

            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Ok</button>

    </div>
</script>



