
<div class="main-panel products-pane" ng-init="init()">
    <div ng-include="'templates/header.html'"></div>
    <div class="container-fluid">


        <div class="row products-location">
            <div class="col-md-offset-1">

                <span ng-repeat="product in products track by $index">

                <div class="col-md-3">
                    <div class="card card-product size-card">
                        <div class="card-image" data-header-animation="true">

                            <a class="anchor-image" ngf-select="uploadProductImg($file, $invalidFiles, $index)"
                               accept="image/*" ngf-max-height="2000" ngf-max-size="5MB" >
                                <img class="img-responsive" src="{{product.img}}">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="card-actions">

                                <!--<input type="checkbox" style="margin-top:20px;" value="include"> include-->

                                <div class="togglebutton">
                                    <div class="slideThree" style="display:inline-block;">
                                        <input type="checkbox" value="None" ng-model="products[$index].chosen" id="slideOne" name="check" checked />
                                        <label for="slideOne"></label>
                                    </div>
                                    <button type="button" ng-click= "remove($index)" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>

                            </div>
                            <h4 class="card-title title-left">
                                <input class="product-card" ng-blur="updateProduct($index)" ng-model="product.category" placeholder="Category title"/>

                            </h4>
                            <div class="card-description title-left">
                                <textarea class="desc-product" ng-blur="updateProduct($index)" placeholder="Describe the product here..." ng-model="product.description" row="4" cols="35"></textarea>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="price">
                                <button ng-click ="gotoProducts($index)" class="btn btn-round btn-sm pull-right products-btn">Products</button>
                            </div>


                        </div>
                    </div>
                </div>

            </span>

                <!-- add new product card -->
                <div class="col-md-3">
                    <div class="card card-pricing card-raised card-back" ng-click="addCategory()">
                        <div class="content">
                            <h6 class="category">Add New Category</h6>
                            <div class="icon icon-black">
                                <i class="material-icons">library_add</i>
                            </div>
                            <h3 class="card-title"></h3>
                            <p class="card-description">

                            </p>
                            <a class="btn btn-black btn-round">Add Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



