
<div class="main-panel search-pane" ng-init="init()">
    <div ng-include="'templates/header.html'"></div>

    <div class="container .top-margin">

        <div class="row search-content">
            <div class="col-md-4">
                <div class="form-group form-search is-empty">
                    <input type="text" ng-change="searchByCompany()" ng-model="searchCompanyParam" class="form-control" placeholder="Filter By Company Name">
                    <span class="material-input"></span>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group form-search is-empty">
                    <input type="text" ng-change="searchByName()" ng-model="searchUserParam" class="form-control" placeholder="Filter By Name">
                    <span class="material-input"></span>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--<button ng-click="" type="submit" class="btn btn-white btn-round btn-just-icon">-->
            <!--<i class="material-icons">search</i>-->
            <!--<div class="ripple-container"></div>-->
            <!--</button>-->
            <!--</div>-->


        </div>
        <div class="row ">

            <div class="card">
                <div class="card-header card-header-icon btn-black" data-background-color="black">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">


                </div>
            </div>


        </div>


    </div>

</div>



