
<div class="main-panel search-pane" ng-init="init()">
    <div ng-include="'templates/header.html'"></div>

    <div class="container .top-margin">

        <div class="row search-content">
            <div class="col-md-2">
                <div class="dropdown input-drop">

                    <a class="dropdown-toggle input-btn search-by" data-toggle="dropdown">{{searchParam}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li>
                            <a ng-click="changeSearchParam('Company')" class="genderAnchor">Company</a>
                        </li>
                        <li>
                            <a ng-click="changeSearchParam('Name')" class="genderAnchor">Name</a>
                        </li>
                        <li>
                            <a ng-click="changeSearchParam('Points')" class="genderAnchor">Points</a>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group form-search is-empty">
                    <input type="text" ng-change="search()" ng-model="searchUserParam" placeholder="Enter search parameter" class="form-control">
                    <span class="material-input"></span>
                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<button ng-click="" type="submit" class="btn btn-white btn-round btn-just-icon">-->
                    <!--<i class="material-icons">search</i>-->
                    <!--<div class="ripple-container"></div>-->
                <!--</button>-->
            <!--</div>-->


        </div>
        <div class="row ">

            <div class="card">
                <!--<div class="card-header card-header-icon btn-black" data-background-color="black">-->
                    <!--<i class="material-icons">assignment</i>-->
                <!--</div>-->
                <div style="margin-top:5px;" class="card-content">
                    <h4 class="card-title"></h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary color-heading">
                            <th>Image</th>
                            <th ng-click="sortType = 'firstName';sortReverse = !sortReverse">Name
                                <i ng-show="sortType === '' || (sortType === 'firstName' && sortReverse)" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i ng-show="(sortType === 'firstName' && !sortReverse)" class="fa fa-caret-up" aria-hidden="true"></i>
                            </th>


                            <th style="width:20%" class="table-header" ng-click="sortType = 'company';sortReverse = !sortReverse">Company

                                <i ng-show="sortType === '' || (sortType === 'company' && sortReverse)" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i ng-show="(sortType === 'company' && !sortReverse)" class="fa fa-caret-up" aria-hidden="true"></i>
                            </th>


                            <th ng-click="sortType = 'points';sortReverse = !sortReverse">Points
                                <i ng-show="sortType === '' || (sortType === 'points' && sortReverse)" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i ng-show="(sortType === 'points' && !sortReverse)" class="fa fa-caret-up" aria-hidden="true"></i>
                            </th>

                            <th ng-click="sortType = 'status'; sortReverse = !sortReverse" >Status
                                <i ng-show="sortType === '' || (sortType === 'status' && sortReverse)" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i ng-show="(sortType === 'status' && !sortReverse)" class="fa fa-caret-up" aria-hidden="true"></i>
                            </th>

                            <th class="table-header" ng-click="sortType = 'created';sortReverse = !sortReverse">Created

                                <i ng-show="sortType === '' || (sortType === 'created' && sortReverse)" class="fa fa-caret-down" aria-hidden="true"></i>
                                <i ng-show="(sortType === 'created' && !sortReverse)" class="fa fa-caret-up" aria-hidden="true"></i>
                            </th>

                            <th>Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users | orderBy:sortType:sortReverse track by $index" >
                                <td ng-click="gotoUser($index)" ><img class="search-img img-rounded" width="50px" height="50px" src="{{user.img || '/img/ganim.jpg'}}"></td>
                                <td ng-click="gotoUser($index)" >{{user.firstName + ' ' + user.lastName}}</td>
                                <td ng-click="gotoUser($index)" >{{user.company}}</td>
                                <td ng-click="gotoUser($index)" >{{user.points}}</td>
                                <td ng-click="gotoUser($index)" >{{user.status}}</td>
                                <td ng-click="gotoUser($index)" >{{user.createdAt | date}}</td>
                                <td>
                                    <button ng-click ="remove($index)" class="btn btn-danger btn-sm">Remove</button>
                                    <button ng-click ="points($index)" class="btn btn-blue btn-sm">Add points</button>
                                    <button ng-show = "user.status !== 'Active'" ng-click="activate($index)" class="btn btn-green btn-sm">Activate</button>
                                    <button ng-show = "user.status === 'Active'" ng-click="deActivate($index)" class="btn btn-black btn-sm">Deactivate</button>
                                </td>
                            </tr>
                            <!-- -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-offset-10">-->
                <!--<button ng-show="page > 0" ng-click="back()" class="btn btn-black"><<</button>-->
                <!--<button ng-show="currentShown === limit" ng-click="next()" class="btn btn-black">>></button>-->
            <!--</div>-->
        <!--</div>-->


    </div>

</div>


<script type="text/ng-template" id="addPointsModal.html">

    <div class="modal-header">
        <h3 class="modal-title" style="text-decoration: underline;" id="modal-title">Add Points</h3>
    </div>

    <div class="modal-body points-body" id="modal-body">

        <div class="row">
            <div class="col-md-2"><span>Num#:</span></div>
            <div class="col-md-4 amount-input">
                <input type="text" ng-model="num" class="form-control ">
            </div>
            <div class="col-md-2"> <span>Amount: </span> </div>
            <div class="col-md-4 amount-input"> <input type="text" ng-model="amount" class="form-control"> </div>
        </div>
        <div class="row" >

            <div class="pull-right points-checkbox">
                <span>
                    <input type="radio" ng-model="checked.twoAndHalf" ng-click="calculate(2.5)" name="optionsCheckboxes"> 2.5%
                </span>
                <span class="checkbox-span">
                    <input type="radio"  ng-model="checked.five" ng-click="calculate(5)" name="optionsCheckboxes"> 5%
                </span>
                <span class="checkbox-span">
                    <input type="radio" ng-model="checked.seven" ng-click="calculate(7)" name="optionsCheckboxes"> 7%
                </span>
            </div>

            </div>
                <div class="row">
                    <div class="col-md-5">
                        <span>Points: </span> {{sum}}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button ng-show="order.status !== 'confirmed'" class="btn btn-primary" type="button" ng-click="add()">Add</button>
    </div>
</script>

