
<div class="main-panel products-pane" ng-init="init()">
    <div ng-include="'templates/header.html'"></div>
    <div class="container-fluid">

        <!--<i class="material-icons">arrow_back</i>-->
        <div class="row col-md-offset-1 products-location">
            <span ng-repeat="product in product.products track by $index">

                <div class="col-md-2">
                    <div class="card card-product size-card-sm">
                        <div class="card-image" data-header-animation="true">

                            <a class="anchor-image-sm" ngf-select="uploadSubProductImg($file, $invalidFiles, $index)"
                               accept="image/*" ngf-max-height="2000" ngf-max-size="5MB" >
                                <img class="img" src="{{product.img}}">
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="card-actions">

                                <!--<input type="checkbox" style="margin-top:20px;" value="include"> include-->

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" checked> Toggle is on
                                    </label>
                                </div>

                            </div>
                            <h4 class="card-title">
                                <input class="product-card" ng-blur="updateSubProduct($index)" ng-model="product.title" placeholder="Product title"/>
                            </h4>
                            <div class="card-description">
                                <textarea class="desc-product" ng-blur="updateSubProduct($index)" placeholder="Describe the product here..." ng-model="product.description" row="4" cols="20"></textarea>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="">
                                <input class="product-card" ng-blur="updateSubProduct($index)" placeholder="price" ng-model="product.price">
                            </div>
                        </div>
                    </div>
                </div>

            </span>

            <!-- add new product card -->
            <div class="col-md-2">
                <div class="card card-pricing card-raised card-back-sm" ng-click="addProduct()">
                    <div class="content">
                        <h6 class="category">Add New Product</h6>
                        <div class="icon icon-black">
                            <i class="material-icons">library_add</i>
                        </div>
                        <h3 class="card-title"></h3>
                        <p class="card-description">

                        </p>
                        <a ng-click="" class="btn add-product-btn">Add Product</a>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>



