<div class="main-container">

    <div ng-include="'templates/navbar.html'"></div>

    <!--<img class="main-back" src="img/background.jpg">-->
    <div class="main-links container summery">
        <div class="row ">שם:</div>
        <div class="row ">תפקיד:</div>

        <div class="row" style="margin-top:20px;">
            <table class="table col-md-12 table-hover">
                <tr class="table-header">
                    <th>
                        מספר
                    </th>
                    <th>
                        תאריך יצירה
                    </th>
                    <th>
                        תז
                    </th>
                    <th>
                        שם מבוטח
                    </th>
                    <th>
                        סוג פניה
                    </th>
                    <th>
                        חודש תגמול
                    </th>
                    <th>
                        סכום תגמול
                    </th>
                    <th>
                        סטטוס
                    </th>

                </tr>
                <tr>
                    <th>1</th>
                    <th>10/12/2017</th>
                    <th>038457867</th>
                    <th>ני גולדנברג</th>
                    <th>משכנתא</th>
                    <th>08</th>
                    <th>100</th>
                    <th>פעיל</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th>10/12/2018</th>
                    <th>0356515</th>
                    <th>יוסי חסם</th>
                    <th>דירה</th>
                    <th>06</th>
                    <th>200</th>
                    <th>פעיל</th>
                </tr>
            </table>
        </div>

    </div>


</div>

