<div class="main-container">

    <div ng-include="'templates/navbar.html'"></div>

    <!--<img class="main-back" src="img/background.jpg">-->
    <div class="main-links container summery">
        <div class="row ">שם:</div>
        <div class="row ">תפקיד:</div>

        <div class="row" style="margin-top:20px;">
            <table class="table col-md-12 table-hover">
                <tr class="table-header">
                    <th>
                        מספר
                    </th>
                    <!-- <th>
                        תאריך
                    </th> -->
                    <th>
                        תז
                    </th>
                    <th>
                        שם מבוטח
                    </th>
                    <th>
                        סוג פניה
                    </th>
                    <th>
                        חודש תגמול
                    </th>
                    <th>
                        סכום תגמול
                    </th>
                    <th>
                        סטטוס
                    </th>

                </tr>
                <tr ng-click="goToClient($index)" ng-repeat=" product in products track by $index">
                    <td>{{product.pID}}</td>
                    <!-- <td>{{}}</td> -->
                    <td>{{product.pCli1}}</td>
                    <td>{{product.clientName}}</td>
                    <td>{{product.pType}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </table>
            <img width="100" style="margin:0 auto;" ng-show="loading" src="/img/giphy.gif">
        </div>

    </div>


</div>

