



<div class="main-panel tools-panel">
    <div ng-include="'templates/header.html'"></div>
    <div class="container">
        
        <div style="margin-top:100px;" class="row">

            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-text btn-black" data-background-color="black">
                            <h4 class="card-title">Import Facebook Pages</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Enter URL</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating is-empty ">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" placeholder="id" ng-model="faceBookUser" value="">
                                        <span class="material-icons form-control-feedback">done</span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="dropdown drop-pos">
                                        <button class="btn btn-primary dropdown-toggle btn-black" type="button" data-toggle="dropdown">{{options}}
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="pageAnchor" ng-click="setOption('Page')">Page</a></li>
                                            <li><a class="pageAnchor" ng-click="setOption('Group')">Group</a></li>
                                            <li><a class="pageAnchor" ng-click="setOption('User')">User</a></li>
                                        </ul>
                                    </div>
                                    <button ng-click="scan()" class="btn btn-primary btn-black">Import</button>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-12">

                <div class="card">

                    <div class="card-content">

                        <h4 class="card-title">{{}} -
                            <small class="category"></small>
                        </h4>

                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company Name</label>
                                        <input type="text" ng-model="facebookData.company" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">First Name</label>
                                        <input type="text" ng-model="facebookData.firstName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" ng-model="facebookData.lastName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Profession</label>
                                        <input type="text" ng-model="facebookData.profession" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">About </label>
                                        <textarea class="form-control" ng-model="facebookData.about" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company Overview </label>
                                        <textarea class="form-control" ng-model="facebookData.company_overview" rows="3"></textarea>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">General Info</label>
                                        <textarea class="form-control" ng-model="facebookData.general_info" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input type="text" ng-model="facebookData.emails[0]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Link</label>
                                        <input type="text" ng-model="facebookData.link" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Contact Address</label>
                                        <input vs-google-autocomplete type="text" ng-model="facebookData.contact_address" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input type="text" ng-model="facebookData.phone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Website</label>
                                        <input type="text" ng-model="facebookData.website" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div class="form-group label-floating">

                                            <textarea class="form-control" ng-model="facebookData.description" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" ng-click="Upload()" class="btn btn-black pull-right">Upload to the system</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>

