<div class="main-container">

        <!-- <div ng-include="'templates/navbar.html'"></div> -->
    
        <!--<img class="main-back" src="img/background.jpg">-->
        <div class="main-links container users">
           
            <div class="row">
                <p class="col-md-3">
                       <br/> הכנס מספרי טלפון של סוכן ,
                        לינק חיבור למערכת ישלח לסוכן
                </p>
            </div>
            
            <div class="row">
                <input ng-model="phone" type="text"><button ng-click="sendLink()" class="link-btn">שלח לינק</button>
            </div>

            <div class="row" style="margin-top:20px;overflow-x:auto;">
                    <table class="table col-md-12 table-hover">
                        <tr class="table-header">
                            <!-- <th>
                                מזהה
                            </th> -->
                            <th>
                                שם סוכן
                            </th>
                            <th>
                                סטטוס
                            </th>
                            <th>
                                קוד תפקיד
                            </th>
                            <th>
                                מספר נייד
                            </th>
                            <th>
                                אימייל
                            </th>
                            <th>
                                פעולות   
                            </th>
                        </tr>
                        <tr style="cursor:pointer;" ng-click="goToClient($index)" ng-repeat=" user in users track by $index">
                          <!-- <td>{{user.uID}}</td> -->
                          <td>{{user.uName + user.uFamily}}</td>
                          <td>{{user.uStatus}}</td>
                          <td>{{}}</td>
                          <td>{{user.uMobile}}</td>
                          <td>{{user.uEmail}}</td>
                          <td></td>
                        </tr>
                    </table>
                <img width="100" class="loader" ng-show="loading" src="/img/giphy.gif">
            </div>
    
        </div>
    
    
    </div>
    
    