.side-bar-hb{
    position:fixed!important;left:calc(100% - 250px)!important;
}
.profile-hb{
    font-size: 20px;
    display: inline;
    margin-right: 5px;
    cursor: pointer;
    /*margin-left: 90%;*/
}
.profile-hb-profile{
    font-size: 20px;
    display: inline;
    margin-right: 5px;
    cursor: pointer;
    /*margin-left: 92%;*/
}
.font-hb{
    margin-left: 80%!important;
}
.sidebarhb{
    position:fixed!important;
    left:calc(100% - 250px)!important;
}
.drop-down-hb{
    float:right;
}
.drop-menu-hb{
    left: 50%!important;
}
.drop-menu-status{
    left: 70%!important;
}
.pagination > li > a,
.pagination > li > span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
    color: #999999;
}
.pagination > .active > a,
.pagination > .active > span {
    color: #999999;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}
.pagination.pagination-info > .active > a, .pagination.pagination-info > .active > a:focus, .pagination.pagination-info > .active > a:hover,
.pagination.pagination-info > .active > span,
.pagination.pagination-info > .active > span:focus,
.pagination.pagination-info > .active > span:hover {
    background-color: #03a9f4;
    border-color: #03a9f4;
    box-shadow: 0 4px 5px 0 rgba(3, 169, 244, 0.14), 0 1px 10px 0 rgba(3, 169, 244, 0.12), 0 2px 4px -1px rgba(3, 169, 244, 0.2);
}
.pagination.pagination-success > .active > a, .pagination.pagination-success > .active > a:focus, .pagination.pagination-success > .active > a:hover,
.pagination.pagination-success > .active > span,
.pagination.pagination-success > .active > span:focus,
.pagination.pagination-success > .active > span:hover {
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 4px 5px 0 rgba(76, 175, 80, 0.14), 0 1px 10px 0 rgba(76, 175, 80, 0.12), 0 2px 4px -1px rgba(76, 175, 80, 0.2);
}
.pagination.pagination-warning > .active > a, .pagination.pagination-warning > .active > a:focus, .pagination.pagination-warning > .active > a:hover,
.pagination.pagination-warning > .active > span,
.pagination.pagination-warning > .active > span:focus,
.pagination.pagination-warning > .active > span:hover {
    background-color: #fbc02d;
    border-color: #fbc02d;
    box-shadow: 0 4px 5px 0 rgba(251, 192, 45, 0.14), 0 1px 10px 0 rgba(251, 192, 45, 0.12), 0 2px 4px -1px rgba(251, 192, 45, 0.2);
}
.pagination.pagination-danger > .active > a, .pagination.pagination-danger > .active > a:focus, .pagination.pagination-danger > .active > a:hover,
.pagination.pagination-danger > .active > span,
.pagination.pagination-danger > .active > span:focus,
.pagination.pagination-danger > .active > span:hover {
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 4px 5px 0 rgba(244, 67, 54, 0.14), 0 1px 10px 0 rgba(244, 67, 54, 0.12), 0 2px 4px -1px rgba(244, 67, 54, 0.2);
}
.pagination-row{
    margin-top:40px;
}
.pagination-pos{
    margin-top:10px!important;
    margin-bottom: 0px!important;
    margin-left:calc((100% - 200px)/2)
}
.fix-height{
    height: 640px!important;
}
.project-nav{
    width:100%;
}
.carousel .carousel-control {
    width: 50%;
}
.carousel .carousel-control.left, .carousel .carousel-control.right {
    background-image: none;
}
.carousel .carousel-control .material-icons,
.carousel .carousel-control .fa {
    display: none;
}
.carousel .left {
    cursor: url("../../img/arrow-left.png"), url("../../img/arrow-left.cur"), default !important;
}
.carousel .right {
    cursor: url("../../img/arrow-right.png"), url("../../img/arrow-right.cur"), default !important;
}
.carousel .carousel-indicators {
    bottom: 5px;
}
.carousel .carousel-indicators li,
.carousel .carousel-indicators .active {
    margin: 11px 10px;
}
.carousel .carousel-indicators li {
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}
.carousel .carousel-indicators .active {
    margin-top: 10px;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.carousel .carousel-caption {
    padding-bottom: 45px;
}
.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}
.carousel-pos{
    width: 60%;
    margin: -3px;
    margin-left: 20%;
}

.profile-hb-architect{
    width: 30%;
    margin-left: 70%!important;
}
.font-hb-pro{
    width:40%;
    margin-left: 60%!important;

}
.icon-profile{
    position: relative;
    top: 5px;
}
.card-flex{
    display: flex;
    justify-content: flex-end;
}
