

<div class="main-panel" style="float:left!important;">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">notifications</i>
                            <span class="notification">5</span>
                            <p class="hidden-lg hidden-md">Notifications</p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mike John responded to your email</a></li>
                            <li><a href="#">You have 5 new tasks</a></li>
                            <li><a href="#">You're now friend with Andrew</a></li>
                            <li><a href="#">Another Notification</a></li>
                            <li><a href="#">Another One</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i><div class="ripple-container"></div>
                    </button>
                </form>
                <ul class="pagination pagination-info pagination-pos">
                    <li><a href="#"><</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="../assets/img/faces/hila.png" />
                            </a>
                        </div>

                        <div class="content">
                            <h6 class="category text-gray">מייסדת</h6>
                            <h4 class="card-title">הילה אשריאלביץ</h4>
                            <p class="card-content">
                               הילה ישראלביץ, אדריכלית שותפה ןממיסדת - ישראלביץ אדריכלים 42 נשואה לדן
                            </p>
                            <a class="btn btn-primary btn-round"> נקודות טריביו: 250 </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" slide-toggle="#derp" data-background-color="purple">
                            <div class="title profile-hb-profile" >פרופיל <i class="fa fa-tasks icon-profile" aria-hidden="true"></i></div>
                            <!--<p class="category" style="float:right;">Complete your profile</p>-->
                        </div>
                        <div id="derp" class="card-content slideable ">
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">תאריך לידה</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-3 dropdown">
                                        <a class="btn btn-simple dropdown-toggle drop-down-hb" data-toggle="dropdown">
                                            מין
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu drop-menu-hb">
                                            <li><a >זכר</a></li>
                                            <li><a >נקבה</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">שם</label>
                                            <input type="text" class="datepicker form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 dropdown">
                                        <a class="btn btn-simple dropdown-toggle drop-down-hb" data-toggle="dropdown">
                                            סטטוס משפחתי
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu drop-menu-status">
                                            <li><a >רווק/ה</a></li>
                                            <li><a >נשואי/ה</a></li>
                                            <li><a>אלמן/ה</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">כתובת</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">השכלה</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">היטוריה תעסוקתית</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">טלפון</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">שפות</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label font-hb">Postal Code</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" >
                                        <div class="form-group">
                                            <label style="float:right">עלי</label>
                                            <div class="form-group label-floating">
                                                <label class="control-label"> </label>
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary pull-right">עדכן פרופיל</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div> <!-- end of card -->
                    <div class="card">
                        <div class="card-header" slide-toggle="#derp2" data-background-color="purple">
                            <div class="title profile-hb" >פרויקטים <i class="fa fa-tasks icon-profile" aria-hidden="true"></i></div>
                            <!--<p class="category" style="float:right;">Complete your profile</p>-->
                        </div>
                        <div id="derp2" class="card-content slideable ">
                            <form>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-md-8">


                                        <nav class="navbar navbar-default " data-background-color="purple">
                                            <div class="container-fluid">
                                                <div class="navbar-header project-nav">
                                                    <div class="font-hb">פרויקט : שיכון ירוק</div>
                                                </div>

                                            </div>
                                        </nav>

                                        <div class="section" id="carousel">
                                            <!--<div class="container">-->
                                                <div class="row">
                                                    <!--<div class="col-md-8 col-md-offset-2">-->

                                                        <!-- Carousel Card -->
                                                    <div class="card card-raised card-carousel carousel-pos">
                                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                            <div class="carousel slide" data-ride="carousel">

                                                                <!-- Indicators -->
                                                                <ol class="carousel-indicators">
                                                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                                </ol>

                                                                <!-- Wrapper for slides -->
                                                                <div class="carousel-inner">
                                                                    <div class="item active">
                                                                        <img src="../assets/img/projectImages/house1.jpg" alt="Awesome Image">
                                                                        <div class="carousel-caption">
                                                                            <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <img src="../assets/img/projectImages/house2.jpg" alt="Awesome Image">
                                                                        <div class="carousel-caption">
                                                                            <h4><i class="material-icons">location_on</i> Somewhere Beyond, United States</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <img src="../assets/img/projectImages/house3.jpg" alt="Awesome Image">
                                                                        <div class="carousel-caption">
                                                                            <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Controls -->
                                                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                                                    <i class="material-icons">keyboard_arrow_left</i>
                                                                </a>
                                                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Carousel Card -->

                                                    <!--</div>-->
                                                </div>
                                            <!--</div>-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="../assets/img/projectImages/telavivmap.png" style="width:200px;height: 150px;margin-top:10px;"/>
                                            </div>
                                            <div class="col-md-6">

                                            </div>

                                        </div>






                                    </div>
                                    <div class="col-md-4">
                                        <!--<nav class="navbar navbar-default " data-background-color="purple">-->
                                            <!--<div class="container-fluid">-->
                                                <!--<div class="navbar-header project-nav">-->
                                                    <!--<div class="font-hb-adrichal">פרטי אדריכל</div>-->
                                                <!--</div>-->

                                            <!--</div>-->
                                        <!--</nav>-->
                                        <div class="card">
                                            <div class="card-header" data-background-color="purple">
                                                <div class="profile-hb-architect" >פרטי אדריכל</div>
                                                <!--<p class="category" style="float:right;">Complete your profile</p>-->
                                            </div>
                                            <div class="card-content ">
                                                <form>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label font-hb">שם</label>
                                                                <input type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label font-hb">שם בית העסק</label>
                                                                <input type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label font-hb">טלפון</label>
                                                                <input type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label font-hb">כתובת</label>
                                                                <input type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>
                                        </div>

                                        <nav class="navbar navbar-default " data-background-color="purple">
                                            <div class="container-fluid">
                                                <div class="navbar-header project-nav">
                                                    <div class="font-hb-pro">רשימת בעלי מקצוע</div>
                                                </div>

                                            </div>
                                        </nav>

                                        <nav class="navbar navbar-default " data-background-color="purple">
                                            <div class="container-fluid">
                                                <div class="navbar-header project-nav">
                                                    <div class="font-hb-pro">רשימת ספקים</div>
                                                </div>

                                            </div>
                                        </nav>

                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary pull-right">עדכן פרופיל</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    </div>